# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


oblimap_gcm_to_im_program
*.txt
!oblimap-results
!oblimap-results/oblimap-scanned-projection-data
!src/module-files
!src/object-files
